.newsletterContainer {
    width: 100%;
    height: auto;
}

.newsletterContainer > .newsletterContent {
    width: 80%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
}

.newsletterContent > h1 {
    font-family: 'Permanent Marker', cursive;
    color: #9C1717;
    font-size: 4em;
    margin: 0;
}

.newsletterContent > p {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.5em;
    line-height: 1.5;
}

.newsletterContent > .newsletterInput {
    background-color: #9C1717;
    border-radius: 30px;
    border: 3px solid #9C1717;
    width: 45em;
}

.newsletterInput > form > input {
    padding: 6px 10px;
    font-size: 22px;
    width: 25em;
    border-radius: 30px;
    border: none;
    box-sizing: border-box;
}

.newsletterInput > form > button {
    padding: 6px 10px;
    font-size: 22px;
    border-radius: 30px;
    background-color: #9C1717;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.newsletterInput > form > input:focus {
    outline: none;
}

@media screen and (max-width: 1000px) {
    .newsletterContent > h1 {
        font-size: 3em;
    }

    .newsletterContent > p {
        font-size: 1.2em;
    }

    .newsletterContent > .newsletterInput {
        width: 32em;
    }

    .newsletterInput > form > input {
        font-size: 18px;
        width: 20em;
    }

    .newsletterInput > form > button {
        font-size: 18px;
    }
}

@media screen and (max-width: 700px) {
    .newsletterContent > p {
        font-size: 1em;
    }

    .newsletterContent > .newsletterInput {
        width: 23em;
    }

    .newsletterInput > form > input {
        width: 12em;
    }
}

@media screen and (max-width: 500px) {
    .newsletterContent > h1 {
        font-size: 2em;
    }

    .newsletterContent > .newsletterInput {
        width: 100%;
    }

    .newsletterInput > form > input {
        font-size: 1em;
        width: 100%;
    }

    .newsletterInput > form > button {
        display: none;
    }
}