.footerContainer {
    width: 100%;
    height: auto;
    background-color: #67B44B;
    border-top: 5px solid white;
}

.footerContainer > .footerContent {
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
}

.footerContent > h3 {
    cursor: pointer;
    transition: 0.5s;
}

.footerContent > h3:hover {
    color: #BC4749;
}

@media screen and (max-width: 1200px) {
    .footerContent > h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .footerContent {
        display: flex;
        flex-direction: column;
    }

    .footerContent > h3 {
       margin: 10px;
    }
}