html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  /*SCROLLBAR*/
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #0A0A0A;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #9C1717;
    border: 2px solid #9C1717;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: white;
    border: 2px solid white;
  }