.NaviContainer {
    width: 50%;
    height: 60px;
    background-color: #67B44B;
    margin: auto;
    border-radius: 0px 0px 50px 50px;
    border: 5px solid white;
    border-top: 0;
    position: fixed;
    left: 25%;
}

.NaviContainer > .NavUl {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 0;
    list-style: none;
    height: 100%;
    align-items: center;
}

.NaviContainer > .NavUl > a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.NavUl > a > li {
    transition: 500ms;
}

.NavUl > a > li:hover {
    color: #BC4749;
}